__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Données générées par le programme
data/cache/
data/out/
data/sig/

# Référentiels générés automatiquement
data/ref/parametres_pesticides.csv

# Fichiers / dossiers d'IDE
.vscode/
.idea/
*.code-workspace

# Artefacts de build Python
build/
dist/
*.egg-info/

# Fichiers opendata AMM trop volumineux pour GitHub (>100 Mo)
**/decision_intrant_opendata*.xml

